*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: rgb(132, 132, 132);
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   width: 100vw;
}

canvas{
   margin: 10px;
   background-color: wheat;
   height: 500px;
   width: 500px;
   image-rendering: pixelated;
   image-rendering: crisp-edges;
   image-rendering: -moz-crisp-edges;
}

#controles{
   margin: 4px;
   height: 20%;
   width: 100%;
   background-color: white;
   position: fixed;
   bottom: 0;
}